body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background: linear-gradient(to right, #3f51b5, #2196f3);
    padding: 20px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

header h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px;
}




nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    margin: 0 20px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-item a.active,
.nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    background-color: rgb(81, 112, 236);
    margin: 50px;
    margin-right: 250px;
    margin-right: 10px;
}

fieldset {
    border: none;
}

.help-center {
    text-align: center;
    color: #1e2c4e;
}

.welcome {
    text-align: center;
    font-size: 28px;
    color: #1e2c4e;
    margin-bottom: 20px;
}

.subheading {
    text-align: center;
    font-size: 20px;
    color:  #1e2c4e;
    font-weight: bold;
}

.contact-options {
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-top: 30px;
    background-color: aliceblue;
    padding: 20px;

}

.message,
.call {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 15px;
    width: 620px;
}

.message h3,
.call h3 {

    margin: 10px 0;
}

.message p,
.call p {
    margin: 5px 0; 
}
