.one 
{
    list-style: none;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

header{
    background-color: rgb(23, 42, 115);
}

nav{
    display: flex;
    
}
nav a
{
    color: white;
    text-decoration: underline;
    font-weight: bolder;
    font-size: large;
}
#login
{  
    color:white;
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    background: transparent;
    border:none;
    text-decoration: underline;
    font-weight: bolder;
    font-size: large;
}
#Register{
    color:white;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    background: transparent;
    border:none;
    text-decoration: underline;
    font-weight: bolder;
    font-size: large;
}
#Indiaflag{
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    background: transparent;
    border: none;
}
.one a:hover{
    color: rgb(255, 208, 0);
}
.man{
    background: rgba(0, 0, 0, 0.7) url("Home_page_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.par{
    padding-left: 25px;
    color: white;
}
.idea{
    padding-left: 25px;
    padding-top: 50px;
    color: white;
    
}

.mon{
     padding-bottom: 50px;
     padding-left: 25px;
     color: rgb(255, 255, 255);
}
.man{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 50px;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times;
}
.same{
    display: inline;
}
figcaption a{
    text-decoration: none;
    color: blue;
}
ul li{
    list-style: none;
    display: inline-block;
}